<!-- 
This is the HTML template for the VirusTotal Scanner web application. It contains a form for uploading a file to be scanned by the Flask API.
-->
<!DOCTYPE html>
<html>
<head>
  <title>VirusTotal Scanner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='simple.min.css') }}">
</head>
<body>
  <h1>VirusTotal Scanner</h1>
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('scan_file') }}">
    <input type="file" name="file">
    <button type="submit">Scan</button>
  </form>
</body>
</html>
